@font-face {
  font-family: 'Satoshi-Variable';
  src: url('path/to/Satoshi-Variable.ttf') format('truetype');
}



@font-face {
  font-family: 'Satoshi-Light';
  src: url('path/to/Satoshi-Light.ttf') format('truetype');
	font-weight: 300;
}



@font-face {
  font-family: 'Satoshi-Regular';
  src: url('path/to/Satoshi-Regular.ttf') format('truetype');
}



@font-face {
  font-family: 'Satoshi-Medium';
  src: url('/src/assets/fonts/satoshi/Satoshi-Medium.ttf') format('truetype');
}


@font-face {
  font-family: 'Satoshi-Bold';
  src: url('/src/assets/fonts/satoshi/Satoshi-Bold.ttf') format('truetype');
}



@font-face {
  font-family: 'Satoshi-BlackItalic';
  src: url('/src/assets/fonts/satoshi/Satoshi-BlackItalic.ttf') format('truetype');
}