.footer-container {
  width: 96%;
  margin: 0 auto;
  font-size: 1rem;
  font-family: "Satoshi-Medium", sans-serif;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  min-width: 100%;
  margin-top: 3rem;
  flex-wrap: wrap;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 400px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
